.flags
{
  margin-bottom: 45px;
}
.flags-bold__text
{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;  
  color: #111517;
}
.flags__wrapper
{
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 48px;
}
.flags__wrapper-item
{
  max-width: 264px;
  background: #FFFFFF;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
}

.flags-content
{
  padding: 24px 24px 46px 24px;
}
.flags-content h2
{
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: #111517;
}
@media screen and (max-width:1155px)
{
  .flags__wrapper
  {
    max-width: 1080px;
    justify-content: space-around;
    gap: 100px;
  }
}