/* nunito-300 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/nunito-v25-latin-300.woff2") format("woff2"), url("../fonts/nunito-v25-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nunito-v25-latin-regular.woff2") format("woff2"), url("../fonts/nunito-v25-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-600 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/nunito-v25-latin-600.woff2") format("woff2"), url("../fonts/nunito-v25-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-800 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/nunito-v25-latin-800.woff2") format("woff2"), url("../fonts/nunito-v25-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: "Nunito";
  background: #F2F2F2;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  background: #fff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

.header-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #111517;
}

.header-btn {
  width: 128px;
  border: none;
  background-image: url("/assets/images/moon.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #111517;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .header-title {
    font-size: 14px;
    line-height: 20px;
  }
  .header-btn {
    width: 90px;
    font-size: 12px;
    line-height: 16px;
    background-size: 12px 11px;
    background-position: 0 center;
  }
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-input {
  max-width: 480px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border: none;
  outline: none;
  border-radius: 5px;
  background-image: url("/assets/images/search.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 34px;
  padding: 18px 10px 18px 74px;
  margin-top: 48px;
}

.hero_select {
  max-width: 200px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  border: none;
  outline: none;
  position: relative;
  top: 0;
}
.hero_select::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 20px;
  width: 8px;
  height: 8px;
  border: 2px solid #333;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}
.hero_select.active::after {
  top: 22px;
  transform: rotate(-225deg);
}

.hero-select__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
  padding: 17px 20px 17px 24px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.hero_select .option {
  position: absolute;
  top: 70px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  overflow: hidden;
  display: none;
}

.hero_select.active .option {
  display: block;
  z-index: 1;
}

.option-value {
  padding: 12px 20px;
  cursor: pointer;
}
.option-value:hover {
  background: #197db2;
  color: #FFFFFF;
}

@media screen and (max-width: 760px) {
  .hero-container {
    flex-direction: column;
  }
  .hero-input {
    margin-bottom: 40px;
  }
  .hero_select {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 500px) {
  .hero_select {
    margin-right: auto;
  }
}
.flags {
  margin-bottom: 45px;
}

.flags-bold__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #111517;
}

.flags__wrapper {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 48px;
}

.flags__wrapper-item {
  max-width: 264px;
  background: #FFFFFF;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
}

.flags-content {
  padding: 24px 24px 46px 24px;
}

.flags-content h2 {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  color: #111517;
}

@media screen and (max-width: 1155px) {
  .flags__wrapper {
    max-width: 1080px;
    justify-content: space-around;
    gap: 100px;
  }
}/*# sourceMappingURL=main.css.map */